/database_juz1.py
/database_juz10.py
/database_juz11.py
/database_juz12.py
/database_juz13.py
/database_juz14.py
/database_juz15.py
/database_juz16.py
/database_juz17.py
/database_juz18.py
/database_juz19.py
/database_juz2.py
/database_juz20.py
/database_juz21.py
/database_juz22.py
/database_juz23.py
/database_juz24.py
/database_juz25.py
/database_juz26.py
/database_juz27.py
/database_juz28.py
/database_juz29.py
/database_juz3.py
/database_juz30.py
/database_juz4.py
/database_juz5.py
/database_juz6.py
/database_juz7.py
/database_juz8.py
/database_juz9.py
/generator_juz.py
/__pycache__